start table styles */ body {
    background-color: #ececec;
}

.main-footer {
    display: none;
}

.content-wrapper {
    background-color: transparent;
}

.table-card-wrapper {
    margin-top: 16px;
    border: 1px solid #35baf6;
    border-radius: 0;
    min-height: calc(100vh - 90px);
}

.vehicle-detail-card {
    margin-top: 8px;
    border: 1px solid #35baf6;
    border-radius: 0;
}

.vehicle-detail-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dataTables_scrollBody {
    height: calc(100vh - 90px);
    overflow-y: scroll;
}

td {
    position: relative;
    text-overflow: ellipsis;
    height: auto !important;
    color: #404040 !important;
    padding: 0 15px !important;
    vertical-align: middle !important;
    max-height: 32px;
}

tbody tr:nth-child(even) {}

tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
}

.card .card-body {
    padding: 2rem 0;
    padding-bottom: 70px;
}

th {
    padding-right: 0 !important;
    padding: 15px!important;
}

tbody tr {
    border-top: 1px solid #d0d0d04d !important;
    border-bottom: 1px solid #d0d0d04d !important;
}

.content-header {
    display: none !important;
}

.table-header.card-header {
    background-color: #35baf6;
    height: 44px;
    padding: 0 10px;
    max-height: 44px !important;
    min-height: 0;
    border-radius: 0;
}

.vehicle-card-header {
    background-color: #35baf6;
    height: 44px;
    padding: 10px;
    max-height: 44px !important;
    min-height: 0;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header.card-header span {
    font-size: large;
    font-weight: 500;
}

.table-header.card-header .custom-title {
    gap: 3px;
    margin-top: 7px;
    color: #2a95c5;
    background-color: white;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataTables_info {
    padding: 15px!important;
}

.dataTables_wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.pagination-info-wrapper .info,
.pagination-info-wrapper .pagination {
    min-width: 300px;
}

.pagination-info-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-top: 1px solid #d0d0d04d !important;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    right: 0;
    left: 0;
    z-index: 10;
}

.dataTables_paginate {
    padding: 0 !important;
}

ul.pagination li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #919191;
    font-size: 14px;
    width: 50px;
}

.paginate_button.page-item.previous a,
.paginate_button.page-item.next a,
.paginate_button.page-item.first a,
.paginate_button.page-item.last a {
    display: none;
}

.paginate_button.page-item.previous.disabled,
.paginate_button.page-item.next.disabled,
.paginate_button.page-item.first.disabled,
.paginate_button.page-item.last.disabled {
    opacity: 0.5;
}

.paginate_button.page-item.previous::after {
    content: "\f104";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #919191;
}

.paginate_button.page-item.first::after {
    content: "\f100";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #919191;
}

.paginate_button.page-item.next::after {
    content: "\f054";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #919191;
}

.paginate_button.page-item.last::after {
    content: "\f101";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #919191;
}

.pagination .page-link {
    background-color: transparent !important;
    color: gray !important;
    border: 1px solid #8080806e !important;
    border-radius: 0;
    width: 100%;
    height: 35px;
}

.grip {
    width: 5px;
    background-color: #ccc;
    cursor: ew-resize;
}

.custom-dropdown {
    background-color: #35baf6;
    width: 32px;
    height: 32px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-dropdown::after {
    margin: 0;
    color: white;
    content: "\f150";
    font-family: "Font Awesome 6 Free";
    border-top: none;
    width: 32px;
}

.custom-drodown-content a,
.custom-drodown-content button {
    display: flex;
    width: 100%;
    padding: 0 15px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 10px !important;
}

.vehicle-page-dropdown a {
    gap: 5px;
    font-size: 12px;
    padding-left: 5px;
}

.custom-drodown-content {
    padding: 0;
}

.custom-drodown-content a:hover,
.custom-drodown-content button:hover {
    background-color: #35baf6;
    color: white
}

.form-check.form-check-solid .form-check-input:checked {
    border-radius: 0.2rem;
    background-color: #35baf6;
}

.swal2-styled.swal2-confirm {
    background-color: #35baf6;
}

.dataTables_scrollBody thead,
.dataTables_scrollBody thead th {
    height: 0 !important;
}

.dataTables_scrollHead thead th {
    font-weight: 500 !important;
}

.select2-container span.select2,
.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection {
    height: 40px !important;
    border-radius: 0;
    border-color: #d3d3d3bd;
}


/* end table styles */


/* Start Vehicle Page Table */

.vehicle-page-tables tr:nth-child(even) {
    background: white;
}

.vehicle-page-tables tr:nth-child(odd) {
    background: #ececec;
}

.fa-car-side:before {
    content: '\f5e4'!important;
    font-family: 'FontAwesome';
}

.step_name {
    top: 4px;
    font-size: 12px;
    position: relative;
}

.step:after,
.step_valid__true:after {
    width: 50%;
    top: -41px;
    left: 60%;
}

.x-ltr {
    direction: ltr;
}

.x-component,
.x-container {
    position: relative;
}

.step:before,
.step_valid__true:after,
.step:after {
    width: 50%;
    height: 17px;
    background: #f3f4f4;
    content: '';
    position: relative;
    display: block;
    top: 26px;
}

.step {
    padding: 5px 0;
    margin: auto;
    height: 70px;
    text-align: center;
    cursor: pointer;
    display: inline-block
}

.step_name {
    top: 4px;
    font-size: 12px;
    position: relative
}

.step_index {
    display: block;
    font-weight: 500;
    width: 50px!important;
    height: 32px;
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: #f3f4f4;
    margin: auto;
    padding: 8px;
    border-radius: 20px;
    color: red;
    -webkit-transition: all .4s cubic-bezier(.215, .61, .355, 1);
    -o-transition: all .4s cubic-bezier(.215, .61, .355, 1);
    transition: all .4s cubic-bezier(.215, .61, .355, 1)
}

.step:hover .step_index {
    background-color: #e8e9e9
}

.step_point_done__1 .step_index {
    color: #28ff28;
    background-color: #3d7dca
}

.step_point_done__2 .step_index {
    color: red;
    background-color: #3d7dca
}

.step.x-item-selected:hover .step_index,
.step_valid__true:hover .step_index {
    background-color: #6497d5
}

.step:first-child:before,
.step:nth-last-child(2):after {
    display: none
}

.step:before,
.step_valid__true:after,
.step:after {
    width: 50%;
    height: 17px;
    background: #f3f4f4;
    content: '';
    position: relative;
    display: block;
    top: 26px
}

.step:after,
.step_valid__true:after {
    width: 50%;
    top: -47px;
    left: 50%
}

.step_line_done__true:after {
    width: 100%;
    z-index: 2;
    background-color: #3d7dca
}

td.bg-danger-400 {
    background-color: #ffc4c4 !important;
}

td.bg-warning-400 {
    background-color: #f5c2648f !important;
}

td.bg-success-400 {
    background-color: #c4ffc9 !important;
}

.max-height-card {
    max-height: 293px;
    height: 293px;
    overflow-y: scroll;
}

.max-height-132 {
    max-height: 132px;
    height: 132px;
    overflow-y: scroll;
}

.photo-section-wrapper img {
    border-radius: 7px;
}

.border-red {
    border: 3px solid red;
}

.border-blue {
    border: 3px solid blue;
}

.border-gray {
    border: 3px solid gray;
}

.progress-tracking-status {
    overflow-x: scroll;
}


/* End Vehicle Page Table */


/* start modal styles */

.modal-header {
    background: #35baf6;
    color: white;
    padding: 10px 20px;
}

.modal-header .close span {
    color: white;
}

.modal-body {
    padding: 0
}

.modal-footer {
    background: #ececec;
    padding: 5px 10px;
}

.btn-custom-save,
.btn-custom-discard {
    background: #35baf6;
    color: white;
}

.btn-custom-save:hover,
.btn-custom-discard:hover {
    background: #148fc7;
    color: white;
}

input.form-control {
    height: 40px;
    border-radius: 0;
    border-color: #d3d3d3bd;
    font-size: 1rem;
}

input.form-control::placeholder,
.select2-selection__placeholder {
    font-size: 14px;
}


/* end modal styles */


/* Start Side Menu  */

.navbar-expand .navbar-nav .dropdown-menu {
    overflow: hidden !important;
}

.navbar-expand .navbar-nav .dropdown-menu a:hover,
.navbar-expand .navbar-nav .dropdown-menu a.active {
    background-color: #35baf6 !important;
}

a.nav-link.form-control.btn.btn-primary.text-white {
    background-color: #35baf6 !important;
}

a[data-toggle="modal"] {
    background-color: #35baf6 !important;
}

.sidebar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.os-content {
    padding: 0 !important;
}

.nav-sidebar .nav-item>.nav-link {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    width: 100%;
}

.nav-sidebar .nav-item>.nav-link.active {
    background-color: #475360 !important;
    border-left: 5px solid #35baf6;
}

.nav-sidebar .nav-item>.nav-link i {
    width: 55px;
    text-align: center;
    font-size: large;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

[class*="sidebar-dark"] .brand-link {
    border-bottom: 0;
}

aside.main-sidebar.sidebar-dark-primary.elevation-4 {
    background-color: #32404e !important;
}

@media( min-width: 760px) {
    html:not([lang='ar']) .main-sidebar,
    html:not([lang='ar']) .main-sidebar::before {
        width: 220px;
    }
    html:not([lang='ar']) .content-wrapper {
        margin-left: 220px !important;
    }
    html:not([lang='ar']) .main-header {
        margin-left: 220px !important;
    }
    html:not([lang='ar']) .layout-fixed .brand-link {
        width: 220px !important;
    }
    html:not([lang='ar']) .os-host-scrollbar-horizontal-hidden {
        width: 220px !important;
    }
    .os-host-scrollbar-horizontal-hidden .nav-item a {
        width: 100% !important;
    }
    .os-host-overflow-x .nav-item a {
        width: 100% !important;
    }
    .os-host-overflow-x~.aside-logo {
        width: 100% !important;
    }
    .os-host-overflow-x~.aside-logo div span {
        opacity: transparent !important;
    }
    html[lang='ar'] span.svg-icon.svg-icon-1.position-absolute.ms-6 {
        left: 0 !important;
    }
}

.nav-sidebar>.nav-item {
    margin-bottom: 0;
    height: 64px;
}

@media( min-width: 760px) and ( max-width: 992px) {
    html[lang='ar'] .main-header,
    html[lang='ar'] .content-wrapper {
        margin-right: 0 !important;
    }
}

@media(min-width: 768px) {
    .d-md-block {
        display: inline-block !important;
    }
}

.btn i {
    padding-right: 0;
    margin-inline-end: 0.35rem;
}

.custom-dashboard-widget {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-dashboard-widget img {
    width: 80px;
    height: 80px;
}

.custom-dashboard-widget h1 {
    font-weight: bold;
}

.custom-dashboard-widget h6 {
    font-weight: 700;
}

.custom-bg-danger {
    background-color: #f77c7c !important;
}

.custom-bg-warning {
    background-color: #ffb800 !important;
}

.custom-bg-blue {
    background-color: #028b76 !important;
}


/* End Side Menu

/* Start Navbar */

.dropdown-item-navbar {
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    width: 100%;
    height: 30px;
}


/* End Navbar */